<div class="container">
	<div class="row">
		<div class="col col-md-4"><%= render 'users/sidebar', user: current_user %></div>
		<div class="col col-md-8">
          <div>
            <h5>New PictureBook</h5>
            <%= form_with(model: @picture_book) do |f| %>
            <h5>写真</h5>
            <%= f.attachment_field :image %>
            <h5>名前</h5>
            <%= f.text_field :fish_name, class:"form-control", placeholder:"魚の名前" %>
            <h5>フィッシングポイント</h5>
            <%= f.text_field :point, class:"form-control", placeholder:"釣った場所" %>
            <h5>説明</h5>
            <%= f.text_area :discription, class:"form-control", placeholder:"魚の説明" %>
            <%= f.submit "作成", class:"btn btn-flat-stripe" %>
            <% end %>
          </div>
            <h5>PictureBooks</h5>
			<div class="border">
				<% @picture_books.each do |picture_book| %>
				<div class="picture_book-item clearfix">
					<section class="picture_book-text">
						<%= attachment_image_tag picture_book, :image, size: "50x50", fallback: "no-image-mini.jpg" %>
						<h5 class="picture_book-text-headline"><%= link_to picture_book.fish_name, picture_book_path(picture_book) %></h5>
						<p class="picture_book-date"><%= picture_book.created_at %></p>
					</section>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>