<div class="container">
	<div class="row">
		<div class="col col-4">
			<%= render 'users/sidebar', user: current_user %>
		</div>
		<div class="col col-8">
			<h5><%= @picture_book.fish_name %></h5>
			<%= attachment_image_tag @picture_book, :image, size: "300x300", fallback: "no-image-mini.jpg" %>
			<p><%= @picture_book.point %></p>
			<%= @picture_book.created_at %>
			<p><%= @picture_book.discription %></p>

            <% if @picture_book.user == current_user %>
            <%= link_to "削除", picture_book_path(@picture_book), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %>
            <% end %>
        </div>
    </div>
</div>