<div class="container-fluid">
	<div class="row">
		<div class="col col-md-4 px-0"><%= render 'users/sidebar', user: current_user %></div>
		<div class="col col-md-8 px-0">
		  <div class="content_area">
			<h5 style="color: white;">New Diary</h5>
			<%= form_with(model: @diary) do |f| %>
        <h5 style="color: white;">画像</h5>
          <%= f.attachment_field :diary_images_images, multiple: true %>
          <h5 style="margin-top: 5px; color: white;">タイトル</h5>
          <%= f.text_field :diary_title, class:"form-control", placeholder:"タイトル" %>
          <h5 style="margin-top: 5px; color: white;">本文</h5>
          <%= f.text_area :diary_body, class:"form-control", placeholder:"本文" %>
          <%= f.submit "作成", class:"btn btn-sticky" %>
          <% end %>
      </div>
		  <div class="content_area">
			<h5 style="color: white;">Diaries</h5>
			<% @diaries.each do |diary| %>
			<div class="diary-item clearfix">
				<section class="diary-text">
				    <h5 class="diary-text-headline"><%= link_to diary.diary_title, diary_path(diary), class: "text-light" %></h5>
				    <p class="author-date"><%= diary.created_at.strftime('%Y/%m/%d') %></p>
				</section>
			</div>
			<% end %>
			<%= paginate @diaries %>
		    </div>
		</div>
	</div>
</div>