<div class="container">
	<div class="row">
		<div class="col col-md-4"><%= render 'users/sidebar', user: current_user %></div>
		<div class="col col-md-8">
			<h5>New Diary</h5>
			<%= form_with(model: @diary) do |f| %>
            <h5>画像</h5>
            <%= f.attachment_field :diary_images_images, multiple: true %>
            <h5>タイトル</h5>
            <%= f.text_field :diary_title %>
            <h5>本文</h5>
            <%= f.text_area :diary_body %>
            <%= f.submit "作成", class:"btn btn-block btn-base-1 mt-20" %>
            <% end %>
			<h5>Diaries</h5>
			<div class="border">
				<% @diaries.each do |diary| %>
				<div class="diary-item clearfix">
					<section class="diary-text">
					    <h5 class="diary-text-headline"><%= link_to diary.diary_title, diary_path(diary) %></h5>
					    <p class="diary-date"><%= diary.created_at %></p>
					</section>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>