<div class="container-fluid">
	<div class="row">
		<div class="col text-center">
            <%= form_with(model: @user) do |f| %>
            <div class="">
            	<%= f.label :image %>
            	<%= f.attachment_field :image, class:"" %>
            </div>
            <div class="">
                <%= f.label :ユーザーネーム %>
  	            <%= f.text_field :name, autoforcus: true, class:"", placeholder:"ユーザーネーム" %>
  	        </div>
  	        <div class="">
  	        	<%= f.label :自己紹介 %>
  	            <%= f.text_area :introduction, class:"", placeholder:"自己紹介文" %>
            </div>
            <div class="">
                <%= f.submit "編集情報を保存", class:"btn btn-block btn-base-1 mt-20" %>
            </div>
            <% end %>
        </div>
    </div>
</div>
